<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header" style="float:left;">
        <a class="navbar-brand" href="index.html">forkThis!</a>
    </div>
    <ul class="nav navbar-top-links navbar-right" style="float:right;">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-dashboard fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="dashboard.html?tab=recent"><i class="fa fa-clock-o fa-fw"></i> Recent</a>
                </li>
                <li><a href="dashboard.html?tab=hosted"><i class="fa fa-cloud fa-fw"></i> Hosted</a>
                </li>
                <li><a href="dashboard.html?tab=saved"><i class="fa fa-floppy-o fa-fw"></i> Saved</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li style="display:none;" id="accountButton"><a href="account.html" ><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li style="display:none;" id="settingsButton"><a href="settings.html"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li id="signInButton"><a href="signin.html"><i class="fa fa-sign-in fa-fw"></i> Sign In</a>
                </li>
                <li id="signUpButton"><a href="signup.html"><i class="fa fa-user-plus fa-fw"></i> Sign Up</a>
                </li>
                <li style="display:none;" id="logoutButton"><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <script>
              if(localStorage.authorization && localStorage.authorization !== ""){
                FORK_THIS_API.Account.authorization = localStorage.authorization;
                FORK_THIS_API.Account.read(function(){
                  $("#signInButton").hide();
                  $("#signUpButton").hide();
                  $("#logoutButton").show();
                  $("#accountButton").show();
                  $("#settingsButton").show();
                });
              }
              $("#logoutButton").on("click",function(){
                FORK_THIS_API.Account.logout(function(){
                  location.reload();
                });
              });
            </script>
        </li>
    </ul>
</nav>
